.btn-comenzar{
    border-radius: 25px;
    background: #079ECA;
    color: #fff;
    margin-top: 9px;
    font-family: ETH-Black;
    padding: 5px;
    width: 135px;
    font-size: 20px;
}

.input-test:focus{
    border-color: #079eca !important;
    box-shadow: 
}


.btn-comenzar:hover,.btn-comenzar:focus,.btn-comenzar:active{
    border-radius: 25px;
    background: #079ECA;
    color: #fff;
    margin-top: 9px;
}



.login-box, .register-box {
    width: 360px;
    margin: 5% auto;
}


.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #3e3e40;
}

#ui-datepicker-div{
    z-index: 99999999 !important;
    
}

.ui-datepicker {
    font-size: 100% !important;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #00b3e7 !important;
    background-color: #00b3e7 !important;
}

.box.box-solid.box-primary {
    border: 1px solid #00b3e7;
}

.fhome{
    margin-top: 16px;
}

.btn-primary {
    background-color: #00b3e7 ;
    border-color: #00b3e7 ;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover, .btn-primary:focus {
    background-color: #25c3f1;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #00b3e7;
    border-color: #00b3e7;
}